Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
BreakBeforeBraces: Allman
SpaceBeforeParens: Never
TabWidth: 2
UseTab: Always
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
Cpp11BracedListStyle: true
