Language: Cpp
Standard: Cpp11
BasedOnStyle: LLVM
BreakBeforeBraces: Linux
SpaceBeforeParens: Never
TabWidth: 2
UseTab: Always
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true

Cpp11BracedListStyle: true
