Language: Cpp
Standard: c++17
BasedOnStyle: LLVM
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeAssignmentOperators: true
BreakBeforeBraces: Allman

SpaceBeforeParens: Never
TabWidth: 2
UseTab: Always
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AlignOperands: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true

NamespaceIndentation: All

AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: AfterColon

PointerAlignment: Middle
