/**
 * @author @PROJECT_CONTACT@
 * @brief @PROJECT_BRIEF@
 * @version @PROJECT_VERSION@
 * 
 * @copyright @PROJECT_COPYRIGHT@
 *
 */

#ifndef __MOTOI__APP_HPP
#define __MOTOI__APP_HPP

/*
	These values should be set within CMakeLists.txt
*/
namespace APP
{
static unsigned int const VERSION_MAJOR {@PROJECT_VERSION_MAJOR@};
static unsigned int const VERSION_MINOR {@PROJECT_VERSION_MINOR@};
static unsigned int const VERSION_PATCH {@PROJECT_VERSION_PATCH@};
static char const * VERSION {"@PROJECT_VERSION@"};

static wchar_t const * NAME {L"@PROJECT_NAME@"};
static wchar_t const * CONTACT {L"@PROJECT_CONTACT@"};
static wchar_t const * WEBSITE {L"@PROJECT_WEBSITE@"};
static wchar_t const * BRIEF {L"@PROJECT_BRIEF@"};
} // namespace APP
#endif
